//  ### Primary

$Very-Dark-Blue: hsl(243, 87%, 12%);
$Desaturated-Blue: hsl(238, 22%, 44%);

// ### Accent

$Bright-Blue: hsl(224, 93%, 58%);
$Moderate-Cyan: hsl(170, 45%, 43%);
$Valid-Input: hsl(140, 100%, 58%);

// ### Neutral

$Light-Grayish-Blue: hsl(240, 75%, 98%);
$Light-Gray: hsl(0, 0%, 75%);
$White: hsl(0, 0%, 100%);

// ## Font size
$Fs-h1: 2.2rem;
$Fs-h1-ss: 1.5rem;
$Fs-h2: 2rem;

// ## padding xl
$Padding-ls: 3rem 4rem;

// ## padding small
$Padding-ss: 3rem 1rem;
